<div class="container-fluid bg-light LoginPage">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <img class="AppIcon" src="./assets/images/chat_icon.png" alt="icon">
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <p>Please sign in/sign up to start using Bravo6Warroom</p>
        </div>
        <form class="px-5 mx-5">
            
            <!-- Email Input -->
            <div class="form-outline mb-2">
                <label class="form-label" for="form2Example1">Email address</label>
                <input type="email" id="form2Example1" class="form-control" />
            </div>
    
            <!-- Password input -->
            <div class="form-outline mb-2">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" />
            </div>
    
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-2">
                <div class="col">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
                <div class="col">
                    <div >
                        <a class="d-flex justify-content-end" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
    
            <!-- Submit button -->
            <div class="d-grid">
                <button type="button" class="btn btn-primary mb-4">Sign in</button>
            </div>
    
            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="#">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-facebook"></i>
                </button>
    
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-google"></i>
                </button>
    
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-twitter"></i>
                </button>
    
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-github"></i>
                </button>
            </div>
        </form>
    </div>
</div>