.profilePic {
    height: 40px;
    width: 40px;
    margin: 8px 15px 8px 15px;
    border: none;
  }

.profileInfo {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.myActions {
  color: black;
  height: 25px;
  width: 25px;
}