<nav class="navbar-nav bg-light myProfile">
    <div class="row">
      <div class="col-6 profile">
        <a class="profileInfo" href="#"><img class="profilePic" src="./assets/images/chat_icon.png" alt="">ChatsApp</a>
      </div>
      <div class="col-6 actions">
        <div class="row">
          <div class="col-4 my-3">
            <a class="myActions" href="#"><i class="bi bi-person-plus"></i></a>
          </div>
          <div class="col-4 my-3">
            <a class="myActions" href="#"><i class="bi bi-chat-left-text"></i></a>
          </div>
          <div class="col-4 my-3">
            <a class="myActions" href="#"><i class="bi bi-three-dots-vertical"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>